build/face.recognition/EXE-00.toc
build/face.recognition/Analysis-00.toc
build/face.recognition/base_library.zip
build/face.recognition/face.recognition.exe.manifest
build/face.recognition/face.recognition.pkg
build/face.recognition/PKG-00.toc
build/face.recognition/PYZ-00.pyz
build/face.recognition/PYZ-00.toc
build/face.recognition/Tree-00.toc
build/face.recognition/Tree-01.toc
build/face.recognition/Tree-02.toc
build/face.recognition/warn-face.recognition.txt
build/face.recognition/xref-face.recognition.html
